*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'DM Sans';
    
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
}
.signin{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(../../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-body{
    height: 35rem;
    width: 52rem;
    border-radius: 20px;
    display: flex;
}


/*left*/

.left{
    width: 70%;
    height: 100%;
    background-color: #0E0B0B;
    border-radius: 20px 0 0 20px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 10px;
    border: #ee6010 2px solid;
}

.left>p{
    color:#c45719;
    font-size:2rem;
    text-align: left;
    margin-left: 2rem;
    margin-bottom:0.5rem;
}

.youleft{
    color: rgba(255, 73.78, 34, 0.85);
    font-size: 2rem;
    font-family: DM Sans;
    font-weight: 700;
    word-wrap: break-word;
}

.left>.form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.left>.form>.pass{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20;
}

input{
    color: white;
    border-radius: 20px;
    border-color: transparent;
    height: 2.3rem;
    width: 16rem;
    background: #2d2a2a;
    border-radius: 20px;
    color:white;
    font-family: DM Sans;
    font-size: 15px;
    margin-left:1.5rem ;
    padding-left: 0.9rem;
    transition: border-color 0.3s;
    outline:none;
    border:black;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.25); 
    font-size: 15px; 
    font-weight: 400; 
    word-wrap: break-word;
    cursor: all-scroll;
}


input[type=email]:focus{
    color: white;
    border: 2px solid #d0540e;
}

input[type=password]:focus{
    color:white;
    border: 2px solid #d0540e;
}

.left>.form>.pass>p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    padding-bottom: 0.5rem;
}

.left>.form>.terms{
    font-size: 13px;
    text-align: center;
}
.left>.form>p>a{
    color:#ee6010;
    text-decoration: none;
}

.left>.form>.left-button{
    padding: 10px 35px;
    border-radius: 40px;
    background-color: #ee6010;
    color: white;
    border-color: transparent;
    font-size: 15px;
    font-weight: 650;
}

.left>.form>.logos{
    display:flex;
}
.left>.form>.logos .apple{
    width: 85px;
    height: 48px;
    margin-left: 3rem;
}
.left>.form>.logos .fb{
    width: 73px;
    height: 50px;
}
.left>.form>.logos .google{
    width: 45px;
    height: 45px;
}


/*right*/

.right{
    width: 50%;
    height: 100%;
    background-image: url(../../images/german.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.left-border-image{
    width: 100%;
    height:100%;
    background: rgba(10.41, 8.42, 8.42, 0.47);
    border-top-right-radius: 20px; 
    border-left: 1px #C45719 solid;
    backdrop-filter: blur(1px)
}


.image-text-newhere{
    text-align: center;
    padding-top:9rem;
    color: rgba(255, 255, 255, 0.69);
    font-size: 30px;
    font-family: DM Sans;
    font-weight: 700;
    word-wrap: break-word
}

.sign-up{
    width: 292px; 
    height: 88px;
    position: absolute;
    text-align: center;
    padding-left: 5rem;
    padding-top: 4rem;
}

.sign-up-text{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-family: DM Sans;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word
}

.text{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px; 
    font-family: DM Sans;
    font-weight: 400;
    word-wrap: break-word;
}

.right-button{
    padding: 10px 35px;
    border-radius: 40px;
    background-color: #ee6010;
    color: white;
    border-color: transparent;
    font-size: 15px;
    font-weight: 650;
    margin-top:5rem;
}