*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'DM Sans';
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
}

.top{
    width: 100%;
    height: 70px;
    background-color: #0e0b0b;
    color: #EE6010;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 20px;

}
.top>img{
    width: 40px;
}

.bottom{
    height:calc(100% - 70px);
    background-color: #0e0b0b;
    color: white;
    display: flex;
    gap: 100px;
}

.bottom>.navbar{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
    font-size: 20px;
}
.bottom>.navbar>a{
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}
.bottom>.navbar>a:hover{
    background-color: #30170b;
    border-radius: 10px;
    padding: 10px;
    color: #EE6010;
}

.bottom>.right{
    width: calc(100% - 20%);
    margin-top: 65px;
}
.bottom>.right>.right-top{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bottom>.right>.right-top>img{
    width: 250px;
}
.bottom>.right>.right-top>.right-top-right{
    width: 550px;
    height: 200px;
    background-color: #161111;
    border-radius: 20px;
    padding: 20px;
}
.bottom>.right>.right-top>.right-top-right>.top-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.bottom>.right>.right-top>.right-top-right>.middle-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom>.right>.right-top>.right-top-right>.middle-content>.link{
    padding-top: 20px;
}
.bottom>.right>.right-top>.right-top-right>.middle-content>.link>a{
    text-decoration: none;
    color: #EA6D13;
    font-size: 20px;
}
.bottom>.right>.right-middle{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.bottom>.right>.right-middle>.box{
    width: 400px;
    height: 200px;
    background-color: #161111;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}
.bottom>.right>.right-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.bottom>.right>.right-bottom>.box{
    width: 400px;
    height: 200px;
    background-color: #161111;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}

/*box*/
a {
    text-decoration: none !important; 
    color: inherit; 
}

.line{
    width:75%;
    border:1px solid #6b6969;
    margin: 0 auto;
}
.link{
    margin-top:1.2rem;
    margin-bottom:1.2rem;
    text-align:center;
    color: rgba(255, 255, 255, 0.80);
    font-size:18px;
    text-decoration: none;
}


.grey-box {
width: 21%;
height: 54%;
background-color:#211e1e;
position: absolute;
top: 0;
margin-left: 72%; 
margin-top: 5%; 
display: none;
border-radius: 30px;
border:2px solid #6b6969;
}

.grey-box.disabled {
pointer-events: none;
}

.username{
    color: rgba(255, 255, 255, 0.80);
    font-size: 2.5rem;
    text-align:right;
    padding-right:3rem;
    padding-top:2rem;
    font-family: DM Sans;
    font-weight: 500;
    letter-spacing: 1px;
    word-wrap: break-word;
}

h5{
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    font-family: DM Sans;
    font-weight: 500;
    word-wrap: break-word;
    text-align:right;
    padding-right:3rem;
    padding-top:0.2rem;
}

.e-mail{
    text-align:right;
    margin-bottom:1.5rem;
    font-size:1rem;
}
.log-out{
    font-weight: bolder;
    font-size: 1.2rem;
    text-align:center;
    margin-top:1rem;
    margin-bottom:1rem;
    color: rgba(255, 255, 255, 0.80);
}
