*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'DM Sans';
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
}

.top{
    width: 100%;
    height: 70px;
    background-color: #0e0b0b;
    color: #EE6010;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 20px;

}
.top>img{
    width: 40px;
}

.bottom{
    height:calc(100% - 70px);
    background-color: #0e0b0b;
    color: white;
    display: flex;
    gap: 100px;
}

.bottom>.navbar{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
    font-size: 20px;
}
.bottom>.navbar>a{
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}
.bottom>.navbar>a:hover{
    background-color: #30170b;
    border-radius: 10px;
    padding: 10px;
    color: #EE6010;
}

.bottom>.right{
    width: calc(100% - 20%);
    margin-top: 20px;
}
.bottom>.right>.right-top{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bottom>.right>.right-top>img{
    width: 150px;
}
.bottom>.right>.right-top>.right-top-right{
    width: 500px;
    height: 150px;
    background-color: #161111;
    border-radius: 20px;
    padding: 15px;
}
.bottom>.right>.right-top>.right-top-right>.top-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.bottom>.right>.right-top>.right-top-right>.middle-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom>.right>.right-top>.right-top-right>.middle-content>.link{
    padding-top: 28px;
}
.bottom>.right>.right-top>.right-top-right>.middle-content>.link>a{
    text-decoration: none;
    color: #EA6D13;
    font-size: 15px;
}
.bottom>.right>.right-middle{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.bottom>.right>.right-middle>.box{
    width: 325px;
    height: 150px;
    background-color: #161111;
    border-radius: 20px;
    padding: 20px;
}
.bottom>.right>.right-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.bottom>.right>.right-bottom>.box{
    width: 325px;
    height: 150px;
    background-color: #161111;
    border-radius: 20px;
    padding: 20px;
}
