
#container{
    background-image: url(../../images/Red\ Minimalist\ Pet\ Shop\ Instagram\ Post.png);
    Position :relative;
    width:100%;
    height: 100vh;
    backdrop-filter:blur 1.5px;
    background-size: cover;
    display:flex;
    Justify-content: center;
    align-items: center;
    

}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:"DM Sans";
    color: white;
    font-weight: bold;  
}
h1{
    font-family: "Pacifico";
    padding-top: 50px;
    padding-bottom:8px ;
    font-size: 32px;
    text-align:center;
    padding-right: 60px;
    padding-left: 50px;
    text-transform: capitalize;
    word-spacing: 2px;
    border-bottom: 4px solid rgb(184, 88, 4);
    width: 110%;


}
input{
    color: white;
    border-radius: 20px;
    border-color: transparent;
    height: 2.8rem;
    width: 18rem;
    background: #2d2a2a;
    letter-spacing: 2px;
    border-radius: 20px;
    color:white;
    font-family: DM Sans;
    font-size: medium;
    padding-left: 15px;
    transition: border-color 0.3s;
    outline:none;
    border:black;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.25); 
    font-size: 15px; 
    font-family: Inter;
    padding-left: 10px;
    font-weight: 400; 
    word-wrap: break-word;
    cursor: all-scroll;
}
input[type=password]:focus{
    border: 1px solid #d0540e;

}
input[type=submit]{
    padding: 10px 35px;
    width: 150px;
    margin-left: 60px;
    border-radius: 100px;
    background-color: #ee6010;
    color: white;
    font-size: 20px;
    font-family: "DM Sans";
    font-weight:bolder;
}
#container2{
    padding-top: 75px;
    padding-left: 120px;
}



    