*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191B1D;
    font-family:'DM Sans';
    font-size: 1.5rem;    
}

.heading{
    height: 100px;
    width: 100%;
    margin-top: 4%;
    color: white;
    text-align: center;
    font-size: 3.2rem;
    display: block;
}

.heading>span{
    display: inline-block;
    font-weight: 900;
    transition-property: transform, margin;
    transition-duration: .25s;
}

.heading>span:hover{
    transform: scale(1.4);
    margin: 0 35px;
}

.main{
    margin-top: 2%;
    height: 60%;
    width: 100%;
    background-color: #191B1D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 0 4%;
    color: white;
}

.box{
    height: 135px;
    width: 210px;
    background-color: #22262C;
    border: 2px solid #ee6010;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property:  border-radius, transform;
    transition-duration: .25s;
}

.box:hover{
    transform: scale(1.2);
    border-radius: 20px;
    
    
}

a, .box{
    text-decoration: none;
    color: white;
}

.division{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}
/* .box2, .box4{
    margin-bottom: 120%;
}

.box1, .box3, .box5{
    margin-top: 40%;
} */