* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans';
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans';
}

h2{
  color:#fcfbfa;
  text-align: center;
  font-family:"Comfortaa";
  padding-top: 4rem;
  font-size:2.5rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  background-color:black;
  background-size: cover;
}
.container {
  position:relative;
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
}
.item{
  width:100%;
  height:550px;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.767);
  border-radius: 20px;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  display:grid;
  z-index: 1000;
}

.contact {
  background:rgba(14, 14, 14, 0.1000);
}

.submit-form {
  background:transparent rgba(134, 127, 127, 0.01);
  border:rgb(226, 125, 30) 1px solid;
  border-top-right-radius:18px;
  border-bottom-right-radius: 18px;
}

.image{
  height: 500px;
  width: 450px;
  padding-top:50px;
}

.first-text{
 color:rgb(244, 117, 7);
 font-size:30px;
 margin-top: 8rem;
 margin-bottom:2rem;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #fc7209;
}
.right-side .input-box{

  height: 40px;
  width: 300px;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #2b2b2b9e;
  color:aliceblue;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
  color: #fefcfc;
  font-size: 18px;
  outline: none;
  border-radius:34.50;
  padding:18px 55px;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #C45719;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background: orangered;
}