* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
  }
  
  body {
    align-items: center;
    min-height:100vh;
    min-width: 100%;
    background-color: #0E0B0B;
  }

  h2{
    color:#fcfbfa;
    text-align: center;
    font-family:"Comfortaa";
    padding-top: 4rem;
    font-size:2.5rem;
  }


  .container {
    position:relative;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .item{
    height:500px;
    width:max-content;
    background: #0E0B0B;;
    border-radius: 20px;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display:grid;
    z-index: 1000;
  }
  
  .content {
    background:#0E0B0B;
  }
  
  .submit-form {
    background:transparent rgba(0, 0, 0, 0.01);
    border:rgb(226, 125, 30) 1px solid;
    border-top-right-radius:18px;
    border-bottom-right-radius: 18px;
  }
  
  .image{
    width:450px;
    height: 450px;
    padding-right: 4rem;
    padding-left: 8rem;
    margin-right: 10px;
    margin-top:1.5rem;
  }
  
  .container .content .right-side{
    width: 80%;
    margin-left: 65px;
  }
  .content .right-side .topic-text{
    font-size: 30px;
    font-weight: 600;
    color: #fc7209;
  }
  .right-side .input-box{
    height: 60px;
    width: 400px;
    margin: 12px 0;
  }
  
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #2b2b2b9e;
    color:aliceblue;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
    margin-top: 4rem;
  }
  .right-side .message-box{
    min-height: 110px;
    margin-top: 4rem;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
    margin-top: 5px;
  }

  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="submit"]{
    color: #fefcfc;
    font-size: 18px;
    outline: none;
    margin-top:4rem;
    padding:18px 55px;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    background: #C45719;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
    width:100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .button input[type="button"]:hover{
    background: rgb(121, 33, 2);
  }

  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-top: 4rem;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08
} 

h3{
  color:#fcfbfa;
  text-align: center;
  font-family:"DM sans";
  padding-top: 4rem;
}

.slider-container {
  width: 50%; 
  margin: 20px auto;
  display: flex;
  align-items: center;
}

p{
  text-align: left;
  font-family: inherit;
  font-size: 18px;
}

.slider-text {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
  flex-grow: 1;
  background-color:#0E0B0B;
}

.slider-text{
  width: 100%;
  padding: 20px;
  margin: 0;
  text-align: center;
  color: silver;
  font-family:"DM sans";
}

.arrow {
  color: #afadac;
  font-size: 30px;
  cursor: pointer;
  padding: 10px; 
}

.left-arrow {
  order: 0; 
  margin-left: 10px; 
}

.right-arrow {
  order: 2; 
  margin-right: 10px; 
}
