body{
    background-color: #0e0b0b;
}

h1{
    color:#EE6010;
    text-align: center;
    margin-top:2rem;
    font-size: 2rem;
    margin-left: 1rem;
}
/* .main-container{
    display: grid;
} */
.profile-image {
    position: absolute;
    top: 10px; 
    left: 10px; 
    width: 100px; 
    height: auto;
    border: 2px solid #EE6010; 
    border-radius: 50%; 
    margin-top: 3rem;
    margin-left: 3rem;
}
.profile-body{
    display: grid;
    margin-top: 1000rem;
}

